<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuwei.blog.mapper.UserMapper">

	<select id="selectByUserId" resultType="com.xuwei.blog.model.User">
		SELECT
			id,
			user_name as 'userName',
			passwd as 'passwd',
			email as 'email',
			telephone as 'telphone'
		FROM
			t_user_info
		WHERE
			id = #{userId}
	</select>


</mapper>